@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&family=Huballi:wght@400&family=Roboto+Condensed&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&family=PT+Sans&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&family=Hubballi&family=PT+Sans&display=swap");

:root {
  --text-main-dark: rgb(255, 255, 255);
  --text-secondary-dark: rgb(124, 124, 124);
  --card-bg-dark: rgb(47, 44, 47);
  --bg-dark: rgb(75, 71, 75);
}

.dark-mode {
  --text-main-dark: rgb(44, 44, 44);
  --text-secondary-dark: rgb(109, 108, 108);
  --card-bg-dark: rgb(255, 255, 255);
  --bg-dark: rgb(230, 212, 230);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.disable-select {
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

body {
  font-family: "Fira Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: var(--bg-dark);
}

.container {
  /* background-color: rgb(117, 117, 117); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
  width: 100%;
  /* border-radius: 20px; */
  padding: 20px 0px 5px 0px;
  margin: 5px;
  margin-top: 80px;
}

.coin-item-container {
  /* overflow-y: scroll; */
}

.coin-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-size: 3.5rem;
  color: var(--text-main-dark);
  padding-bottom: 10px;
  font-weight: lighter;
  margin: auto;
}

.header {
  display: flex;
  flex-direction: row;
}

.btn-round {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  font-family: "Hubballi", sans-serif;

  background-color: var(--card-bg-dark);
  color: var(--text-main-dark);
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: none;
  font-size: 1rem;
  cursor: pointer;
   
}

.btn-round:hover {
  background-color: #dad9d9;
}

#open-modal-btn {
  /* color: rgb(31, 197, 44); */
  margin-right: 20px;
  margin-top: 15px;
  margin-left: -60px;
  font-size: 1.2rem;
}

.coin-item {
  background-color: var(--card-bg-dark);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 70px;
  padding: 10px;
  margin: 2px 0px;
  /* border-radius: 15px; */
  transition: all ease 0.1s;
}

.coin-item:hover {
  border: 2px solid var(--text-main-dark);
}

.coin-info-container {
  display: flex;
  flex: 0.9;
  width: 180px;
  align-items: center;
}

img {
  width: 40px;
  height: 40px;
  margin-left: 5px;
}

img .white-bg {
  background-color: #fff;
  border-radius: 50%;
}

.coin-text-container {
  display: flex;
  flex-direction: column;
  margin-left: 10px;

  justify-content: center;
}

.name {
  font-size: 1.1rem;
  font-weight: 400;
  color: var(--text-main-dark);
}

.code {
  font-size: 0.9rem;
  font-weight: bold;
  color: var(--text-secondary-dark);
}

.price-container {
  display: flex;
  flex-direction: column;
  min-width: 25%;
  align-items: flex-end;
  justify-content: center;
}

.price {
  font-size: 1.1rem;
  font-weight: 400;
  color: var(--text-main-dark);
}

.change {
  font-size: 0.9rem;
  font-weight: 400;
  color: rgb(31, 197, 44);
  color: rgb(255, 123, 123);
}

.holdings-container {
  display: flex;
  flex-direction: column;
  min-width: 30%;
  align-items: flex-end;
  justify-content: center;
  /* flex-grow: 1; */
  margin-right: 5px;
}

.holdings-total {
  font-size: 1.1rem;
  font-weight: 400;
  color: var(--text-main-dark);
}

.holdings {
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--text-secondary-dark);
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 80px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */

  /* align-items: center; */
  justify-content: center;
}

/* Modal Content */
.modal-content {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 600px;
  width: 95%;
  border-radius: 18px;
  height: 300px;
}

.modal-header-content {
  display: flex;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

#modal-heading {
  color: var(--text-main-dark);
  margin: 20px;
  font-size: 1.1rem;
  font-weight: 600;
}

#clsBtn {
  padding-bottom: 2px;
  margin-right: 20px;
  margin-top: 20px;
}

#clsBtn:hover,
#clsBtn:focus {
  background-color: #e6e4e4;
  /* color: #000;
  text-decoration: none;
  cursor: pointer; */
}

.modal-body-content {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 100px;
  background-color: rgb(247, 247, 247);
  border-radius: 15px;
  margin-bottom: 15px;
  padding-bottom: 10px;
}

.modal-body-content:hover {
  border: 2px solid rgb(250, 233, 247);
}

li {
  list-style-type: none;
  overflow: auto;
}

#coin-code-input {
  background-color: transparent;
  font-size: 1.1rem;
  color: black;
  width: 95%;
  height: 45px;
  border: none;
  border-bottom: 2px solid rgb(233, 233, 233);
}

input {
  background-color: transparent;
  font-size: 1.1rem;
  color: black;
  width: 100%;
  height: 45px;
  border: none;
  border-bottom: 2px solid rgb(233, 233, 233);
}

.coin-code-input-container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  border-radius: 20px;
}

#coin-code-input {
  background-color: transparent;
  appearance: listbox;
}

#coin-code-input-container-label {
  /* color: #aaaaaa; */
  font-size: 0.8rem;
  font-weight: 500;
  margin-top: 5px;
}

#coin-code-input:focus {
  outline: none;
}

.error {
  color: #ee4242;
}

.no-error {
  color: #aaaaaa;
}

.coin-dropdown-list {
  display: none;
  position: absolute;
  top: 45px;
  width: 100%;
  max-height: 145px;
  background-color: #fff;
  overflow-y: auto;
  line-height: 1.8rem;
  height: 140px;
  font-size: 0.8rem;
  font-weight: 600;
  margin-left: -2px;
}

.coin-dropdown-list::-webkit-scrollbar {
  width: 5px; /* width of the entire scrollbar */
}

.coin-dropdown-list::-webkit-scrollbar-track {
  background: #ececec; /* color of the tracking area */
}

.coin-dropdown-list::-webkit-scrollbar-thumb {
  background-color: rgb(148, 147, 147); /* color of the scroll thumb */
  height: 20px;

  /* border: 3px solid orange;  creates padding around scroll thumb */
}

.coin-dropdown-list li {
  padding-left: 5px;
}

.coin-dropdown-list li:hover {
  background-color: #ececec;
}

.coin-holdings-input-container {
  display: flex;
  flex-direction: column;
}

#coin-holdings-input-container-label {
  color: #aaaaaa;
  font-size: 0.8rem;
  font-weight: 500;
  margin-top: 5px;
}

#coin-holdings-input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#coin-holdings-input:focus {
  outline: none;
}

#addCoinBtn {
  display: flex;
  color: rgb(252, 81, 195);
  font-size: 1rem;
  font-weight: 600;
  background-color: rgb(253, 227, 250);
  height: 45px;
  width: 96%;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  margin-bottom: 10px;
  border: none;
  cursor: pointer;
}

#addCoinBtn:hover {
  background-color: rgb(250, 209, 244);
}

@media only screen and (max-width: 600px) {
  input {
    width: 100%;
  }

  h1 {
    font-size: 3rem;
     
  }

  #coin-code-input-container-label {
    font-size: 0.8rem;
  }

  #coin-holdings-input-container-label {
    font-size: 0.8rem;
  }

  .modal-content {
    height: 400px;
  }

  .modal-body-content {
    flex-direction: column;
    justify-content: space-evenly;

    height: 220px;
  }

  .coin-dropdown-list {
    position: absolute;
    top: 45px;
    width: 95%;
    max-height: 145px;
    background-color: #fff;
    overflow-y: auto;
    line-height: 1.8rem;
    height: 140px;
    font-size: 0.8rem;
    font-weight: 600;
    margin-left: -2px;
  }
}

.swiped {
  transform: translateX(50px); /* Equal to translate(10px) */
  background-color: pink;
}
